<h1>Prjeulersamples#multiplesof3and5</h1>

<h3>Onboarding Training Samples: multiplesof3and5</h3>


<p>Result:  <% @resultdata %></p>


<% @resultdata.each do |resultdata| %>
  <li>
    <%= resultdata  %>
  </li>
<% end %>